/* styles.css */

/* Umum */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

/* Judul (h1) */
h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* Tombol Pilihan */
#pilihan {
    margin-bottom: 20px;
    text-align: center;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Gambar Kalkulator */
.gambar-kalkulator {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto 20px auto;
    border-radius: 8px;
}

/* Form Kalkulator */
#formSegitiga, #formJajargenjang {
    margin-top: 20px;
}

.hidden {
    display: none;
}

h2, h3 {
    text-align: center;
}

#formSegitigaButtons, #formJajargenjangButtons {
    text-align: center;
    margin-bottom: 20px;
}

input[type="number"] {
    padding: 8px;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

label {
    display: block;
    margin-bottom: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
}

#hasilSegitiga, #hasilJajargenjang {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}